<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <title>HTML List Assignment</title>
  <body>
    <style>
      body {
        font-family: serif;
      }
      .duzenlibaslik {
        font-weight: bold;
      }
    </style>

    <h1>Clarusway Programs</h1>
    <ol>
      <li class="duzenlibaslik">AWS & DevOps</li>
      <p>
        Enhance your tech skills an <u>increase your ability</u> to delivery
        applications quickly by learning sevice an <b>AWS</b> such as
      </p>
      <ul>
        <li>content</li>
        <li>delivery</li>
        <li>delivery</li>
        <li>database storage</li>
        <br />
      </ul>
      <p>and much more.</p>
      <hr />
      <li class="duzenlibaslik">Full Stack Developer</li>
      <p>
        <mark>A Full Stack Developer </mark> is
        <em>a software application developer</em> who is well equipped to be on
        both
      </p>
      <ul>
        <li>Front-End <small>(client side)</small></li>
        <br />
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
          <li><del>Python</del></li>
          <br />
        </ul>
        <li>Back-End <small>(server side)</small></li>
        <br />
        <ul>
          <li>The Language <sup>Python</sup></li>
          <li>The Framework <sub>Django</sub></li>
          <li>Database <sub>SQLite</sub></li>
          <br />
        </ul>
      </ul>
      <p>portions of web applications.</p>
    </ol>
    <h5>This table is prepared by {{ prepared }}</h5>
  </body>
</html>
